<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Info/Info.css' %}">
   
</head>
<body>
    <div class="responsive-container-block bigContainer">
        <div class="responsive-container-block Container">
          <p class="text-blk heading">
           <b> About Us</b>
          </p>
          <p class="text-blk subHeading">
            Welcome to EmoBeats, where emotions meet music in a harmonious blend of expression and creativity. Founded by a group of passionate music enthusiasts, EmoBeats aims to revolutionize the way we experience and interact with music.

            At EmoBeats, we believe that music has the power to evoke deep emotions, stir memories, and create meaningful connections. Our mission is to harness this power by curating playlists and music experiences that resonate with your feelings, whether you're looking for a soulful ballad to accompany a moment of introspection or an energetic anthem to lift your spirits.
            
            We understand that music is deeply personal and that different songs can evoke different emotions for each individual. That's why at EmoBeats, we invite you to share your feelings and emotions with us. By capturing your emotions, we can tailor our playlists to your mood, ensuring that each track speaks to you on a personal level.
            
            Driven by a love for music and a desire to enhance emotional well-being, our team is dedicated to bringing you the best of both worlds: a carefully curated selection of tracks that speaks to your heart and soul, and innovative technology that enhances your listening experience.
            
            Join us on this musical journey, and let's explore the depths of emotion together through the universal language of music.
            
            
          </p>
          <div class="social-icons-container">
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
            </a>
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
            </a>
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
            </a>
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
            </a>
          </div>
        </div>
      </div>
   
    
</body>
</html>