*<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Getting started</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Info/Info.css' %}">
   
</head>
<body>
  
    <div class="responsive-container-block bigContainer">
      
        <div class="responsive-container-block Container">
          <h1><b>Steps to follow </b></h1>
          <p class="text-blk heading">
          1.  Sign up or Login
          <br>

2. Language and Singer Selection
<br>

3.  Capture your image to detect the emotion
<br>

4. Click on Recommend Song Button
<br>

5. It will redirect you to youtube playlist
<br>

          </p>
          <p class="text-blk subHeading">
           
          </p>
          <div class="social-icons-container">
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
            </a>
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
            </a>
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
            </a>
            <a class="social-icon">
              <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
            </a>
            <button ><a href="register" class="button">Register</a></button>
          </div>
        </div>
      </div>
   
    
</body>
</html>