<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
    <style>
        body {
            background-image: url(bgs.jpg); 
            background-size: cover;
            background-position: center;
            height: 100vh; /* Set the height of the body to 100% of the viewport height */
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>You will be redirected to a new tab.</h1>
    <h1>Please don't close.</h1>
</body>
</html>
